<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View All Students</title>
<style media="screen" type="text/css">
body {
	font-family: 'Trebuchet Ms', Verdana, Arial, sans-serif;
	padding: 0 1em 1em 1em;
	background-color: #eee;
	color: #000000;
}

h1, h2, h3 {
	padding: 0.2em;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.0em;
}

h3.footer {
	text-align: right;
}

a {
	color: #5c7a1f;
}

ul {
	list-style-image: url('images/bullet.png');
}

a.back, a.next {
	display: inline-block;
	margin-top: 2em;
	background-repeat: no-repeat;
	text-decoration: none;
	border: solid 1px #5c7a1f;
	border-radius: 8px;
}

a.back {
	background-image: url('images/back.png');
	background-position: 2% center;
	padding: 4px 6px 4px 20px;
}

a.next {
	background-image: url('images/forward.png');
	background-position: 98% center;
	padding: 4px 20px 4px 6px;
}

a.back:hover, a.next:hover {
	background-color: #e0f0c2;
}

div.code {
	font-family: monospace;
}

table {
	border: solid 1px #5c7a1f;
}

thead {
	background-color: #5c7a1f;
	font-weight: bold;
	color: white;
}

tbody tr:nth-child(even) {
	background-color: #cce699;
}

tbody tr:nth-child(odd) {
	background-color: #e0f0c2;
}

th, td {
	padding: 0.2em;
	min-width: 5em;
}

span.offer {
	font-weight: bold;
	color: green;
}

span.warn {
	display: block;
	color: crimson;
}

td.enhanced {
	font-weight: bold;
	color: green;
}

div.banner {
	width: 112px;
	height: 60px;
	border: solid 2px black;
	border-radius: 10px;
	float: right;
	text-align: center;
	padding: 4px;
	background-color: #e0f0c2;
}

div.banner span {
	font-weight: bold;
	display: block;
}

form {
	border: solid 1px lightgray;
	padding: 2em;
	background-color: #e0f0c2;
}

label, textarea, input, select {
	display: block;
}

input, select {
	margin-bottom: 1em;
}

textarea {
	height: 20em;
	width: 80%;
}

div.radio {
	margin-left: 2em;
}

div.radio label, div.radio input {
	display: inline;
}

span.string {
	color: darkgreen;
}

p.label {
	font-style: italic;
}

p.answer {
	text-indent: 3em;
}

div.white {
	background-color: white;
}

div.red {
	background-color: #cd0a0a;
}

div.blue {
	background-color: cadetblue;
}
</style>
</head>
<body>
	<h1>All Students</h1>
	<table>
		<thead>
			<tr>
				<th>No.</th>
				<th>NPM</th>
				<th>Name</th>
				<th>GPA</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student,iterationStatus: ${students}">
				<td th:text="${iterationStatus.count}">No. 1</td>
				<td th:text="${student.npm}">Student NPM</td>
				<td th:text="${student.name}">Student Name</td>
				<td>
					<p th:text="${student.gpa}" th:remove="tag"/>
					<span th:if="${student.gpa} &lt; 2 " class="warn" th:text="'Mahasiswa dalam probation'"></span>
				</td>
				
				
			</tr>
		</tbody>
	</table>
</body>
</html>
